.cart-container {
  color: grey;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.product-containerrr {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  width: 600px;
  border-radius: 20px;
  background-color: rgba(203, 209, 238, 0.228);
}

.product-imageee {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.product-info {
  width: 70%;
  padding-left: 10px;
}

.location {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.location svg {
  margin-right: 5px;
}

p {
  margin: 0px;
}
