.cart-container {
  color: grey;
}
.product-list {
  margin: 20px;
  min-height: 50vh;
}

.product-containerrr {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  width: 600px;
  border-radius: 20px;
  background-color: rgba(203, 209, 238, 0.228);
  margin-bottom: 20px;
}

.product-imageee {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.product-info {
  width: 70%;
  padding-left: 10px;
}

.location {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.location svg {
  margin-right: 5px;
}

p {
  margin: 0px;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50vh;
}

.no-items-text {
  color: gray;
  font-weight: 600;
  font-size: 22px;
}

.containter-cart {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
