.book-main {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  color: grey;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.book-image {
  width: 400px;
  height: 450px;
}

.book-description {
  margin-left: 40px;
  width: 100%;
  text-align: justify;
}
