.containerStyle {
  display: flex;
  justify-content: space-between;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 5px;
  box-sizing: border-box;
  align-items: center;
  position: relative;
  border: 2px solid none;
  border-radius: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: rgba(203, 209, 238, 0.228);
}

.text {
  width: 550px;
  font-size: 18px;
  text-align: justify;
  color: gray;
  font-weight: 600;
}

.imageStyle {
  height: 450px;
}
