.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 30px;
  box-sizing: border-box;
}

.background-image {
  height: 650px;
  width: 900px;
  margin-right: 20px;
}

.content {
  color: rgb(1, 28, 128);
  margin-left: 30px;
}

.h1 {
  font-size: 36px;
}

.h2 {
  font-size: 14px;
}

.buttons {
  margin-top: 30px;
}

.button {
  margin-left: 1px;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 18px;
  background-color: #035dbd;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}
