.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.112);
  padding: 16px;
  border-radius: 20px;
  background-color: #ffffff;
}

.quiz-image {
  max-width: 100%;
}

.quiz-details {
  margin-top: 10px;
}

.quiz-name {
  font-size: 20px;
  font-weight: bold;
}

.quiz-info {
  font-size: 16px;
  margin-top: 5px;
}

.start-quiz {
  width: 200px;
  padding: 10px;
  background-color: #0077cc;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.start-quiz:hover {
  background-color: #0055aa;
}
